/* public/css/app-layout.css */

.font-sans {
    font-family: 'Poppins', sans-serif;
}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.min-h-screen {
    min-height: 100vh;
}

.bg-gray-100 {
    background-color: #f7fafc;
}

.dark\:bg-gray-900 {
    background-color: #1a202c;
}

.bg-white {
    background-color: #ffffff;
}

.dark\:bg-gray-800 {
    background-color: #2d3748;
}

.shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.max-w-7xl {
    max-width: 80rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.lg\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}