.button-primary {
    background-color: #3b82f6; /* bg-blue-500 */
    color: white; /* text-white */
    font-weight: 700; /* font-bold */
    padding: 0.5rem 1rem; /* py-2 px-4 */
    border-radius: 0.375rem; /* rounded */
    display: inline-block; /* inline-block */
    margin-bottom: 0.5rem; /* mb-4 */
    text-decoration: none; /* Remove underline */
    animation: slideIn 0.8s ease-out;
}

.button-primary:hover {
    background-color: #2563eb; /* hover:bg-blue-700 */
}

.button-info {
    background-color: #10b981; /* bg-green-500 */
    color: white !important; /* text-white */
    font-weight: 700; /* font-bold */
    padding: 0.5rem 1rem; /* py-2 px-4 */
    border-radius: 0.375rem; /* rounded */
    display: inline-block; /* inline-block */
    margin-bottom: 0.5rem; /* mb-4 */
    text-decoration: none; /* Remove underline */
    animation: slideIn 0.8s ease-out;
}

.button-info:hover {
    background-color: #059669; /* hover:bg-green-700 */
}

.button-warning {
    background-color: #f59e0b; /* bg-yellow-500 */
    color: white !important; /* text-white */
    font-weight: 700; /* font-bold */
    padding: 0.5rem 1rem; /* py-2 px-4 */
    border-radius: 0.375rem; /* rounded */
    display: inline-block; /* inline-block */
    margin-bottom: 0.5rem; /* mb-4 */
    text-decoration: none; /* Remove underline */
    animation: slideIn 0.8s ease-out;
}

.button-warning:hover {
    background-color: #d97706; /* hover:bg-yellow-700 */
}

.button-danger {
    background-color: #ef4444; /* bg-red-500 */
    color: white; /* text-white */
    font-weight: 700; /* font-bold */
    padding: 0.5rem 1rem; /* py-2 px-4 */
    border-radius: 0.375rem; /* rounded */
    display: inline-block; /* inline-block */
    margin-bottom: 0.5rem; /* mb-4 */
    text-decoration: none; /* Remove underline */
}

.button-search {
    padding: 0.5rem 1.25rem; /* Meningkatkan padding */
    background-color: #274fbe;
    color: white;
    font-weight: 700; /* font-bold */
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Menambahkan transisi */
}

.button-search:hover {
    background-color: #0e2450;
}

.button-refresh {
    padding: 0.5rem 1rem;
    background-color: #6b7280; /* Gray */
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    text-decoration: none;
}

.button-refresh:hover {
    background-color: #4b5563; /* Dark gray */
}